.App{
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  background-image: url('./assets/background-img.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  z-index: 1;
  min-height: 100vh;
  min-width: 100vw;
}

.mainComponentApp{
  width: 80vw;
  align-self: center;
}

.LoginTab{
  background: rgba(54, 53, 53, 0.4) !important;
  color: rgba(227, 221, 221, 0.964) !important;
  font-weight: 900 !important;

}

.LoginTab.active{
  background: rgba(221, 217, 217, 0.964) !important;
  color:  rgb(27, 26, 26) !important;
  font-weight: 900;

}

.SignupTab{
  background: rgba(54, 53, 53, 0.4) !important;
  color: rgba(227, 221, 221, 0.964) !important;
  font-weight: 900 !important;
}
.SignupTab.active{
  background: rgba(221, 217, 217, 0.964) !important;
  color:  rgb(27, 26, 26) !important;
  font-weight: 900;
}

